@import '../../styles/tools';

.container {
    margin: $spacing-S auto;
    max-width: 132rem;
    width: 100%;

    .mainLayoutWrapper {
        @include flexbox-centered;
        
        flex-direction: column;
        text-align: center;

        h1 {
            @include headline-L;

            color: $color-primary1;
        }
    }
}

